body {
  margin: 0;
  background-image: linear-gradient(to bottom, #12161c, #071932, #001b47, #0a185a, #290d68);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
}


